.CoursesThreeGeneralContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0px;
}
.CoursesThreeWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 99%;
  br {
    @media (max-width: 500px) {
      display: none;
    }
  }
  @media (max-width: 500px) {
    width: 90%;
    text-align: center;
    flex-direction: column-reverse;
  }
  button {
    width: 240px;
    @media (max-width: 500px) {
      display: flex;
      margin-bottom: 30px;
    }
  }
}
.CoursesThreeImageHolder {
  img {
    width: 500px;
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}
.CoursesThreeTextHolder {
  display: flex;
  flex-direction: column;

  h2 {
    color: #602a5e;
    letter-spacing: -1px;
  }
  p {
    color: #826987;
    font-size: 15px;
    font-weight: 400;
  }
  @media (max-width: 500px) {
    align-items: center;
  }
}
.CoursesThreeImageHolder {
  h3 {
    margin-top: 20px;
    @media (max-width: 768px) {
      display: none;
    }
  }
}
