.TeachersPageOneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
@media (max-width:910px) {
  margin-bottom: 50px;
}
}
.TeachersPageOneWrapper {
  width: 95%;
  background-color: #f2e5d6;
  text-align: center;
  height: 130vh;
  border-radius: 15px;
  @media (max-width:768px) {
    height: fit-content;
  }
  img {
    margin-top: 70px;
    @media (max-width:796px) {
      width: 100%;
      margin-bottom: 30px;
      
    }
  }
}
.TeachersPageOneTextHolder {
  margin-top: 120px;
  h1 {
    font-size: 70px;
    @media (max-width:768px) {
      font-size: 60px;
    }
    @media (max-width:500px) {
      font-size: 40px;
    }
    @media (max-width:350px) {
      font-size: 35px;
    }
  }
  h3{
    @media (max-width:400px) {
      font-size: 15px;
    }
  }
  br{
    @media (max-width:520px) {
      display: none;
    }
  }
}
