.CoursesPageFiveContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CoursesPageFiveWrapper {
  width: 99%;
  min-height: 100vh;
  background-color: #5f2a5d;
  background-image: url("../../../assets/webp/language4-home-pic6.webp");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 50px;
  flex-wrap: wrap;
  border-radius: 20px;
  margin: 120px 0px;
  @media (max-width: 500px) {
    width: 98%;
  }
}

.joinDivCoursesPageFive {
  flex-wrap: wrap;
  @media (max-width: 500px) {
    margin-top: 600px;
  }
  h1 {
    @media (max-width: 742px) {
      font-size: 40px;
    }
    @media (max-width: 400px) {
      font-size: 30px;
    }
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 55px;
    width: 195px;
    background-color: #ff885e;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 350ms;
  }

  .button:hover {
    opacity: 0.85;
    transition: all 350ms;
    transform: scale(0.95);
  }
}

.ninityTwoCoursesPageFive {
  display: flex;
  align-items: center;
  color: #ffffff;
  h1 {
    margin-right: 20px;
  }
}
.Icons {
  display: flex;
  color: white;

  nav {
    margin: 0px 3px;
    background-color: #ff885e;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 13px;
  }
  @media (max-width: 500px) {
    margin-top: 30px;
  }
}
